* {
  box-sizing: border-box;
}

:root {
  --color-background: #363232;
  --color-text: #e0e0e0;

  --border: 1px solid #a0a0a0;

  --padding: 16px;
  --gap: 160px;
}

html {
  color-scheme: dark;
  height: 100%;
}

body {
  background: var(--color-background);
  color: var(--color-text);
  height: 100%;
  margin: 0;
  font-family: 'Source Code Pro', monospace;
  font-optical-sizing: auto;
}

router-outlet {
  display: none;
}
